body {
    margin: 0;
    font-family: "Quicksand", sans-serif;
  }

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto;
  width: 300px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 32px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}
.form div {
  display: flex;
  flex-direction: column;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.input {
  margin-bottom: 12px;
}
.input-name,
.input-passw,
.input-email{
  margin-bottom: 22px;
}
.btn-primary {
  background-color: rgb(0, 102, 255);
  border: none;
  border-radius: 8px;
  color: white;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.btn-login{
  margin-top: 14px;
  margin-bottom: 30px;
}

/* Seleccionador de pais */
.select-country{
  display: grid !important;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: auto auto;
  margin-bottom: 4px;
}

.select-country input[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.select-country input[type=radio] + img {
  cursor: pointer;
  width: 48px;
  margin-bottom: 8px;
}

.select-country input[type=radio]:checked + img {
  outline: 2px solid rgb(0, 102, 255);
  border-radius: 50%;
}

#document-type {
  border-radius: 8px;
  height: 32px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.photo{
  margin-bottom: 12px;
}

.display-image{
  width: 375px;
  height: 211px;
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

.photo input[type=file]{
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  background-color: #c7c7c7;
}
